<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form method="post">
        <div class="form-group">
            <label>username:
                <input type="text" name="username" th:value="${username}"/>
            </label>
        </div>
        <div class="form-group">
            <label>email:
                <input type="email" name="email" th:value="${email}"/>
            </label>
        </div>
        <div class="form-group">
            <label>password:
                <input type="password" name="password"/>
            </label>
        </div>
        <div class="form-group">
            <label>Verify password:
                <input type="password" name="verify"/>
            </label>
        </div>

        <button type="submit">Submit</button>
    </form>
    <div>
        <th:block th:if="${passwordError}">The passwords do not match!
        </th:block>
    </div>
</body>
</html>